<div>
  <h1 class="text-danger">Stupid coaching</h1>
  <p>Ask your coach anything:</p>
  <form action="/answer" data-turbo="false" method="get">
  <input type="text" class="form-control" name="question" placeholder="Type your text here">
  <input type="submit" class="btn btn-primary" value="Ask!">
  </form>
</div>
